<%= stylesheet_link_tag "taskbar" %>
<div class="dong">
    <div style="display: flex">
        <%= render partial: "shared/taskbar"%>
        <div style="display:flex; flex-direction:column; width: 100%;">
            <div style="display:flex; flex:">
                <div class="flex7"> so do 1 </div>
                <div class="flex7"> so do 2 </div>
            </div>
            <div>
                <div>so do 3</div>
            </div>
        </div>
    </div>

    
    
</div>