<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Link</a>
        </li>
        <li class="nav-item dropdown">

      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
<%= link_to cart_path, id: 'cart-link' do %>
  <%= image_tag 'cart.png', alt: 'Giỏ hàng', class: 'view-cart-btn' %>
<% end %>

</nav>
<script>
  $(document).ready(function(){
    var lastScrollTop = 0;
    var navbar = $(".navbar");

    $(window).scroll(function() {
      var scrollTop = $(this).scrollTop();
      if (scrollTop > lastScrollTop){
        // Kéo xuống - ẩn thanh điều hướng
        navbar.stop().slideUp(300); // Adjust the duration (in milliseconds) as needed
      } else {
        // Kéo lên - hiển thị thanh điều hướng
        navbar.stop().slideDown(300); // Adjust the duration (in milliseconds) as needed
      }
      lastScrollTop = scrollTop;
    });
  });
</script>



